__pycache__/
.idea/
.pytest_cache/
.vscode/
resources/ner/conll2002/advervios.pdf
ancora.json
resources/glove_all/vectors300.matrix.npy
resources/glove_all/vectors300.txt
resources/glove_all/vectors300.w2i
resources/ner/conll2002/Dialnet-EtiquetadoDeRolesSemanticosEnElMarcoDelCorpusCoNLL-5972764.pdf
resources/ner/conll2002/esp.testa.txt
resources/ner/conll2002/esp.testb.txt
resources/ner/conll2002/esp.train.txt
resources/ner/conll2002/MemoPerInvOrtegaRodriguezFcoJavier.pdf
resources/ner/conll2002/morfologia_tagset.pdf
results/ner/log.txt
results/ner/model_glove_all_char100_300_3.weights.tar
results/ner/model_glove_all_char100_300_3.weights.tar.gz
results/ner/model_glove_all_char100_300_3.weights/.data-00000-of-00001
results/ner/model_glove_all_char100_300_3.weights/.index
results/ner/model_glove_all_char100_300_3.weights/.meta
results/ner/model_glove_all_char100_300_3.weights/checkpoint
results/ner/events.out.tfevents.1581082798.D19112
*.log
